NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=fleet_analytics
DB_USER=fleet_admin
DB_PASSWORD=your_password_here

COGNITO_REGION=af-south-1
COGNITO_USER_POOL_ID=your_user_pool_id
COGNITO_CLIENT_ID=your_client_id

JWT_SECRET=your_jwt_secret_key
