@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 23% 95%;
    --foreground: 75 8% 16%;
    --card: 0 0% 100%;
    --card-foreground: 75 8% 16%;
    --primary: 150 24% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 15% 90%;
    --secondary-foreground: 75 8% 16%;
    --muted: 43 15% 90%;
    --muted-foreground: 75 6% 40%;
    --border: 40 12% 85%;
    --destructive: 5 68% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 150 24% 40%;
    --radius: 0.75rem;
    --input: 40 12% 85%;
  }
}